In [1]:
import pandas as pd
import numpy as np
import sklearn 
from sklearn import feature_selection

###  Работаем с фичами клиентов subs_features_train.csv

In [2]:
# Работаем с фичами клиентов
#Считывание
data_subs_f = pd.read_csv('subs_features_train.csv',';',decimal=',',parse_dates=['SNAP_DATE'])
#Сортировка
data_subs_f = data_subs_f.sort_values(['SK_ID','SNAP_DATE'])
#Отражение
data_subs_f.head(10)

,SNAP_DATE,COM_CAT#1,SK_ID,COM_CAT#2,COM_CAT#3,BASE_TYPE,ACT,ARPU_GROUP,COM_CAT#7,COM_CAT#8,...,COM_CAT#25,COM_CAT#26,COM_CAT#27,COM_CAT#28,COM_CAT#29,COM_CAT#30,COM_CAT#31,COM_CAT#32,COM_CAT#33,COM_CAT#34
6503,2002-01-01,7,2,77,17,1,1,6.0,2,1318.0,...,1,0,0.001798,0.002754,0.000033,0.002331,0.022108,0.049189,0.27508,NaN
12304,2002-01-02,7,2,77,9,1,1,10.0,2,1318.0,...,1,1,0.003913,0.002139,0.000018,0.001954,0.054871,0.049189,0.27508,NaN
24981,2002-01-03,7,2,77,10,1,1,10.0,2,1318.0,...,1,1,0.002070,0.009867,0.000050,0.002785,0.029765,0.049189,0.27508,NaN
21704,2002-01-04,7,2,77,11,1,1,8.0,2,1318.0,...,1,1,0.006520,0.001894,0.000010,0.001709,0.022772,0.049189,0.27508,9.0
29381,2002-01-05,7,2,77,12,1,1,9.0,2,1318.0,...,1,1,0.001801,0.011187,0.000081,0.002441,0.018126,0.049189,0.27508,9.0
21807,2001-01-09,4,3,51,17,1,1,5.0,2,742.0,...,1,0,0.000000,0.000558,0.000019,0.000000,0.000205,0.049189,0.27508,NaN
14399,2001-01-10,4,3,51,9,1,1,8.0,2,742.0,...,1,1,0.000625,0.005613,0.001211,0.000000,0.002386,0.049189,0.27508,NaN
26898,2001-01-11,4,3,51,10,1,1,7.0,2,742.0,...,1,1,0.012354,0.029096,0.001411,0.000000,0.016379,0.049189,0.27508,NaN
24566,2001-01-12,4,3,51,11,1,1,8.0,2,742.0,...,1,1,0.020497,0.046781,0.000861,0.000000,0.026669,0.049189,0.27508,9.0
24326,2002-01-01,4,3,51,12,1,1,7.0,2,742.0,...,1,1,0.002012,0.001330,0.000636,0.000000,0.001456,0.049189,0.27508,9.0

In [35]:
# Делим признаки на категориальные и числовые
# Смотрим что есть:
print data_subs_f.dtypes
#data_subs_f.iloc[0:15,22:]
print data_subs_f.nunique().sort_values()

SNAP_DATE           datetime64[ns]
COM_CAT#1                    int64
SK_ID                        int64
COM_CAT#2                    int64
COM_CAT#3                    int64
BASE_TYPE                    int64
ACT                          int64
ARPU_GROUP                 float64
COM_CAT#7                    int64
COM_CAT#8                  float64
DEVICE_TYPE_ID             float64
INTERNET_TYPE_ID           float64
REVENUE                    float64
ITC                        float64
VAS                        float64
RENT_CHANNEL               float64
ROAM                       float64
COST                       float64
COM_CAT#17                 float64
COM_CAT#18                 float64
COM_CAT#19                 float64
COM_CAT#20                 float64
COM_CAT#21                 float64
COM_CAT#22                 float64
COM_CAT#23                 float64
COM_CAT#24                  object
COM_CAT#25                   int64
COM_CAT#26                   int64
COM_CAT#27                 float64
COM_CAT#28                 float64
COM_CAT#29                 float64
COM_CAT#30                 float64
COM_CAT#31                 float64
COM_CAT#32                 float64
COM_CAT#33                 float64
COM_CAT#34                 float64
dtype: object
COM_CAT#26              2
COM_CAT#25              2
BASE_TYPE               2
ACT                     2
INTERNET_TYPE_ID        3
COM_CAT#24              7
COM_CAT#1               8
DEVICE_TYPE_ID          8
COM_CAT#7               9
COM_CAT#34             10
SNAP_DATE              12
ARPU_GROUP             12
COM_CAT#3              17
COM_CAT#2              83
COM_CAT#19            114
ROAM                  410
COM_CAT#18            775
COM_CAT#8            1530
COM_CAT#32           1637
COM_CAT#17           1677
COM_CAT#21           1994
COM_CAT#33           2606
SK_ID                3622
RENT_CHANNEL         7328
COM_CAT#30           8611
COST                 8889
VAS                  9746
COM_CAT#29          10738
COM_CAT#20          14264
COM_CAT#22          14391
COM_CAT#23          16921
COM_CAT#27          23134
COM_CAT#28          24455
ITC                 24596
REVENUE             26847
COM_CAT#31          30182
dtype: int64

In [34]:
print data_subs_f['COM_CAT#25'].value_counts() 
print data_subs_f['COM_CAT#26'].value_counts() 
print data_subs_f['BASE_TYPE'].value_counts() 
print data_subs_f['ACT'].value_counts()
print data_subs_f['INTERNET_TYPE_ID'].value_counts() 
print data_subs_f['COM_CAT#24'].value_counts() 
print data_subs_f['COM_CAT#1'].value_counts() 
print data_subs_f['DEVICE_TYPE_ID'].value_counts() 
print data_subs_f['COM_CAT#7'].value_counts() 
print data_subs_f['COM_CAT#34'].value_counts() 
print data_subs_f['ARPU_GROUP'].value_counts() 
print data_subs_f['COM_CAT#3'].value_counts()

1    40632
0        6
Name: COM_CAT#25, dtype: int64
1    40156
0      482
Name: COM_CAT#26, dtype: int64
2    38116
1     2522
Name: BASE_TYPE, dtype: int64
1    40288
0      350
Name: ACT, dtype: int64
2.0    19102
1.0    12658
3.0     8792
Name: INTERNET_TYPE_ID, dtype: int64
31.12    40632
23.05        1
06.05        1
24.05        1
29.05        1
28.05        1
27.05        1
Name: COM_CAT#24, dtype: int64
5    6609
3    6538
4    5970
8    5181
7    4446
1    4110
2    3909
6    3875
Name: COM_CAT#1, dtype: int64
5.0    31057
3.0     8543
7.0      629
6.0      249
8.0       56
2.0       13
1.0        4
4.0        1
Name: DEVICE_TYPE_ID, dtype: int64
1    15374
2     9117
3     8533
4     5400
7      920
8      617
6      383
9      253
5       41
Name: COM_CAT#7, dtype: int64
2.0     11054
10.0     8121
9.0      7072
3.0      4908
1.0      3052
8.0      1705
7.0      1155
4.0      1018
6.0       815
5.0       348
Name: COM_CAT#34, dtype: int64
12.0    7723
7.0     4920
6.0     4551
8.0     4391
5.0     3821
9.0     3784
10.0    2944
4.0     2192
11.0    2161
1.0     1814
2.0     1250
3.0     1069
Name: ARPU_GROUP, dtype: int64
5     28490
4      1981
3      1941
2      1866
1      1834
17      475
9       470
10      432
11      397
12      378
13      370
14      364
15      355
16      334
6       326
7       316
8       309
Name: COM_CAT#3, dtype: int64

In [36]:
# Дропаем всякую хрень по результатам анализа
data_subs_f = data_subs_f.drop('COM_CAT#24', 1) 
data_subs_f = data_subs_f.drop('COM_CAT#25', 1) 
data_subs_f = data_subs_f.drop('COM_CAT#26', 1) 
data_subs_f = data_subs_f.drop('ACT', 1)

In [69]:
# Разбиение на категориальные и числовые 
categorical_cols = ['INTERNET_TYPE_ID','COM_CAT#1','DEVICE_TYPE_ID','COM_CAT#7','COM_CAT#34','ARPU_GROUP','COM_CAT#3']
numeric_cols = list(set(data_subs_f.columns.values.tolist()) - set(categorical_cols))

In [40]:
# Проверка на незаполненные значения
print ("Kolvo priznakov s null = ",data_subs_f.index[data_subs_f.isnull().any()].size )
print (data_subs_f.isnull().any())

# Число незаполненных атрибутов в конкретном столбце
print len(data_subs_f.index[data_subs_f['ARPU_GROUP'].isnull()].tolist())
print len(data_subs_f.index[data_subs_f['COM_CAT#8'].isnull()].tolist())
print len(data_subs_f.index[data_subs_f['DEVICE_TYPE_ID'].isnull()].tolist())
print len(data_subs_f.index[data_subs_f['INTERNET_TYPE_ID'].isnull()].tolist())
print len(data_subs_f.index[data_subs_f['COM_CAT#34'].isnull()].tolist())

# Посмотреть на них
data_subs_f.loc[data_subs_f['ARPU_GROUP'].isnull()]

('Kolvo priznakov s null = ', 5)
SNAP_DATE           False
COM_CAT#1           False
SK_ID               False
COM_CAT#2           False
COM_CAT#3           False
BASE_TYPE           False
ARPU_GROUP           True
COM_CAT#7           False
COM_CAT#8            True
DEVICE_TYPE_ID       True
INTERNET_TYPE_ID     True
REVENUE             False
ITC                 False
VAS                 False
RENT_CHANNEL        False
ROAM                False
COST                False
COM_CAT#17          False
COM_CAT#18          False
COM_CAT#19          False
COM_CAT#20          False
COM_CAT#21          False
COM_CAT#22          False
COM_CAT#23          False
COM_CAT#27          False
COM_CAT#28          False
COM_CAT#29          False
COM_CAT#30          False
COM_CAT#31          False
COM_CAT#32          False
COM_CAT#33          False
COM_CAT#34           True
dtype: bool
18
86
86
86
1390

,SNAP_DATE,COM_CAT#1,SK_ID,COM_CAT#2,COM_CAT#3,BASE_TYPE,ARPU_GROUP,COM_CAT#7,COM_CAT#8,DEVICE_TYPE_ID,...,COM_CAT#22,COM_CAT#23,COM_CAT#27,COM_CAT#28,COM_CAT#29,COM_CAT#30,COM_CAT#31,COM_CAT#32,COM_CAT#33,COM_CAT#34
35605,2002-01-05,2,546,37,1,2,NaN,1,73.0,5.0,...,0.698302,0.109026,0.000254,0.000000,0.000000,0.000000,0.027010,0.049189,0.275080,10.0
20410,2002-01-04,1,804,30,5,2,NaN,7,595.0,5.0,...,0.690154,0.084542,0.024900,0.025854,0.000000,0.000000,0.027178,0.049189,0.275080,10.0
30089,2001-01-08,7,1049,49,5,2,NaN,2,1310.0,5.0,...,0.688423,0.083860,0.009178,0.016089,0.000750,0.000000,0.033953,0.049189,0.275080,9.0
3316,2001-01-12,1,1307,30,5,2,NaN,2,1319.0,5.0,...,0.684718,0.069978,0.027357,0.030432,0.000068,0.000000,0.072117,0.049189,0.292375,8.0
12754,2002-01-02,2,1860,18,1,2,NaN,1,1373.0,5.0,...,0.690466,0.088915,0.011305,0.027390,0.000471,0.002619,0.035075,0.049189,0.275080,9.0
18755,2001-01-09,6,2041,35,11,1,NaN,2,963.0,3.0,...,0.694186,0.104536,0.000841,0.014601,0.004007,0.000000,0.061010,0.049189,0.275080,6.0
21132,2001-01-09,5,2149,33,5,2,NaN,1,1324.0,5.0,...,0.683221,0.063800,0.062624,0.073696,0.001631,0.000000,0.119626,0.049189,0.275080,1.0
12016,2002-01-01,5,2321,60,5,2,NaN,1,502.0,5.0,...,0.695082,0.099802,0.005919,0.003403,0.000000,0.000000,0.021514,0.049189,0.275080,9.0
5515,2002-01-02,6,2372,2,15,2,NaN,2,1278.0,5.0,...,0.685539,0.072373,0.007832,0.002869,0.069380,0.024238,0.004839,0.049189,0.275080,2.0
4129,2001-01-12,3,2839,65,10,1,NaN,6,1678.0,8.0,...,0.698321,0.109133,0.000000,0.000000,0.000000,0.000000,0.000000,0.049189,0.275080,NaN
37005,2001-01-08,7,3092,77,4,2,NaN,1,126.0,5.0,...,0.688128,0.086340,0.029972,0.037138,0.000058,0.002832,0.049507,0.049189,0.275080,1.0
6914,2002-01-01,5,3275,41,5,2,NaN,1,1637.0,3.0,...,0.688691,0.085635,0.014344,0.037573,0.000773,0.003836,0.036162,0.049189,0.275080,2.0
20278,2002-01-04,3,3278,20,5,2,NaN,2,126.0,5.0,...,0.690775,0.089495,0.003068,0.001742,0.007415,0.023194,0.026995,0.049189,0.275080,2.0
6066,2002-01-04,6,3477,21,16,2,NaN,2,847.0,5.0,...,0.684221,0.078273,0.020298,0.053484,0.000112,0.003682,0.050317,0.049189,0.275080,2.0
11403,2001-01-12,5,3716,4,2,2,NaN,2,326.0,7.0,...,0.658983,0.000000,0.005045,0.001954,0.023441,0.000000,0.012833,0.049189,0.340526,8.0
22888,2002-01-05,4,3900,36,5,2,NaN,4,600.0,5.0,...,0.695153,0.097425,0.011376,0.000000,0.000000,0.000000,0.010400,0.049189,0.275080,10.0
33327,2002-01-02,4,4429,9,2,2,NaN,2,1315.0,5.0,...,0.691301,0.094268,0.008916,0.024606,0.011591,0.000000,0.051788,0.049189,0.275080,9.0
34758,2002-01-01,1,4681,30,5,2,NaN,1,1513.0,5.0,...,0.681524,0.061249,0.005908,0.009209,0.000040,0.000052,0.010279,0.051331,0.286408,9.0

Вообщем то, объем с нан небольшой можно было бы и дропнуть

In [42]:
# Функция для числовых - чтобы менять на среднее
def calculate_means(numeric_data):
    means = np.zeros(numeric_data.shape[1])
    for j in range(numeric_data.shape[1]):
        to_sum = numeric_data.iloc[:,j]
        indices = np.nonzero(~numeric_data.iloc[:,j].isnull())[0]
        correction = np.amax(to_sum[indices])
        to_sum /= correction
        for i in indices:
            means[j] += to_sum[i]
        means[j] /= indices.size
        means[j] *= correction
    return pd.Series(means, numeric_data.columns)

In [41]:
# Все числовые с нан поменяем на 0 т к их немного
data_subs_f_num = data_subs_f[numeric_cols].fillna(0)

In [42]:
# Вcе категориальные c нан , меняем на строки
data_subs_f_cat = pd.DataFrame(data=data_subs_f[categorical_cols], dtype=np.str)

In [43]:
# Проверим
print data_subs_f_cat.isnull().any()
print data_subs_f_num.isnull().any()

INTERNET_TYPE_ID    False
COM_CAT#1           False
DEVICE_TYPE_ID      False
COM_CAT#7           False
COM_CAT#34          False
ARPU_GROUP          False
COM_CAT#3           False
dtype: bool
COM_CAT#21      False
COM_CAT#20      False
COM_CAT#23      False
COST            False
COM_CAT#27      False
COM_CAT#29      False
COM_CAT#28      False
RENT_CHANNEL    False
BASE_TYPE       False
COM_CAT#22      False
SNAP_DATE       False
ROAM            False
COM_CAT#32      False
COM_CAT#33      False
COM_CAT#30      False
COM_CAT#31      False
VAS             False
COM_CAT#18      False
COM_CAT#19      False
REVENUE         False
ITC             False
COM_CAT#2       False
COM_CAT#17      False
SK_ID           False
COM_CAT#8       False
dtype: bool

### Новый блок - категориальные в бинарные

In [44]:
from sklearn.linear_model import LogisticRegression as LR
from sklearn.feature_extraction import DictVectorizer as DV

In [45]:
encoder = DV(sparse = False)
data_subs_f_cat_binary = encoder.fit_transform(data_subs_f_cat.T.to_dict().values())

In [56]:
data_subs_f_cat_binary

array([[ 0.,  0.,  0., ...,  0.,  1.,  0.],
       [ 0.,  0.,  0., ...,  0.,  1.,  0.],
       [ 0.,  0.,  1., ...,  1.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  1.,  0.],
       [ 0.,  0.,  1., ...,  1.,  0.,  0.],
       [ 0.,  0.,  0., ...,  1.,  0.,  0.]])

In [64]:
encoder.feature_names_

['ARPU_GROUP=1.0',
 'ARPU_GROUP=10.0',
 'ARPU_GROUP=11.0',
 'ARPU_GROUP=12.0',
 'ARPU_GROUP=2.0',
 'ARPU_GROUP=3.0',
 'ARPU_GROUP=4.0',
 'ARPU_GROUP=5.0',
 'ARPU_GROUP=6.0',
 'ARPU_GROUP=7.0',
 'ARPU_GROUP=8.0',
 'ARPU_GROUP=9.0',
 'ARPU_GROUP=nan',
 'COM_CAT#1=1',
 'COM_CAT#1=2',
 'COM_CAT#1=3',
 'COM_CAT#1=4',
 'COM_CAT#1=5',
 'COM_CAT#1=6',
 'COM_CAT#1=7',
 'COM_CAT#1=8',
 'COM_CAT#34=1.0',
 'COM_CAT#34=10.0',
 'COM_CAT#34=2.0',
 'COM_CAT#34=3.0',
 'COM_CAT#34=4.0',
 'COM_CAT#34=5.0',
 'COM_CAT#34=6.0',
 'COM_CAT#34=7.0',
 'COM_CAT#34=8.0',
 'COM_CAT#34=9.0',
 'COM_CAT#34=nan',
 'COM_CAT#3=1',
 'COM_CAT#3=10',
 'COM_CAT#3=11',
 'COM_CAT#3=12',
 'COM_CAT#3=13',
 'COM_CAT#3=14',
 'COM_CAT#3=15',
 'COM_CAT#3=16',
 'COM_CAT#3=17',
 'COM_CAT#3=2',
 'COM_CAT#3=3',
 'COM_CAT#3=4',
 'COM_CAT#3=5',
 'COM_CAT#3=6',
 'COM_CAT#3=7',
 'COM_CAT#3=8',
 'COM_CAT#3=9',
 'COM_CAT#7=1',
 'COM_CAT#7=2',
 'COM_CAT#7=3',
 'COM_CAT#7=4',
 'COM_CAT#7=5',
 'COM_CAT#7=6',
 'COM_CAT#7=7',
 'COM_CAT#7=8',
 'COM_CAT#7=9',
 'DEVICE_TYPE_ID=1.0',
 'DEVICE_TYPE_ID=2.0',
 'DEVICE_TYPE_ID=3.0',
 'DEVICE_TYPE_ID=4.0',
 'DEVICE_TYPE_ID=5.0',
 'DEVICE_TYPE_ID=6.0',
 'DEVICE_TYPE_ID=7.0',
 'DEVICE_TYPE_ID=8.0',
 'DEVICE_TYPE_ID=nan',
 'INTERNET_TYPE_ID=1.0',
 'INTERNET_TYPE_ID=2.0',
 'INTERNET_TYPE_ID=3.0',
 'INTERNET_TYPE_ID=nan']

#### Обединение после очищений

In [72]:
columns2 = numeric_cols

In [74]:
columns2.extend(encoder.feature_names_)

In [75]:
columns2

['COM_CAT#21',
 'COM_CAT#20',
 'COM_CAT#23',
 'COST',
 'COM_CAT#27',
 'COM_CAT#29',
 'COM_CAT#28',
 'RENT_CHANNEL',
 'BASE_TYPE',
 'COM_CAT#22',
 'SNAP_DATE',
 'ROAM',
 'COM_CAT#32',
 'COM_CAT#33',
 'COM_CAT#30',
 'COM_CAT#31',
 'VAS',
 'COM_CAT#18',
 'COM_CAT#19',
 'REVENUE',
 'ITC',
 'COM_CAT#2',
 'COM_CAT#17',
 'SK_ID',
 'COM_CAT#8',
 'ARPU_GROUP=1.0',
 'ARPU_GROUP=10.0',
 'ARPU_GROUP=11.0',
 'ARPU_GROUP=12.0',
 'ARPU_GROUP=2.0',
 'ARPU_GROUP=3.0',
 'ARPU_GROUP=4.0',
 'ARPU_GROUP=5.0',
 'ARPU_GROUP=6.0',
 'ARPU_GROUP=7.0',
 'ARPU_GROUP=8.0',
 'ARPU_GROUP=9.0',
 'ARPU_GROUP=nan',
 'COM_CAT#1=1',
 'COM_CAT#1=2',
 'COM_CAT#1=3',
 'COM_CAT#1=4',
 'COM_CAT#1=5',
 'COM_CAT#1=6',
 'COM_CAT#1=7',
 'COM_CAT#1=8',
 'COM_CAT#34=1.0',
 'COM_CAT#34=10.0',
 'COM_CAT#34=2.0',
 'COM_CAT#34=3.0',
 'COM_CAT#34=4.0',
 'COM_CAT#34=5.0',
 'COM_CAT#34=6.0',
 'COM_CAT#34=7.0',
 'COM_CAT#34=8.0',
 'COM_CAT#34=9.0',
 'COM_CAT#34=nan',
 'COM_CAT#3=1',
 'COM_CAT#3=10',
 'COM_CAT#3=11',
 'COM_CAT#3=12',
 'COM_CAT#3=13',
 'COM_CAT#3=14',
 'COM_CAT#3=15',
 'COM_CAT#3=16',
 'COM_CAT#3=17',
 'COM_CAT#3=2',
 'COM_CAT#3=3',
 'COM_CAT#3=4',
 'COM_CAT#3=5',
 'COM_CAT#3=6',
 'COM_CAT#3=7',
 'COM_CAT#3=8',
 'COM_CAT#3=9',
 'COM_CAT#7=1',
 'COM_CAT#7=2',
 'COM_CAT#7=3',
 'COM_CAT#7=4',
 'COM_CAT#7=5',
 'COM_CAT#7=6',
 'COM_CAT#7=7',
 'COM_CAT#7=8',
 'COM_CAT#7=9',
 'DEVICE_TYPE_ID=1.0',
 'DEVICE_TYPE_ID=2.0',
 'DEVICE_TYPE_ID=3.0',
 'DEVICE_TYPE_ID=4.0',
 'DEVICE_TYPE_ID=5.0',
 'DEVICE_TYPE_ID=6.0',
 'DEVICE_TYPE_ID=7.0',
 'DEVICE_TYPE_ID=8.0',
 'DEVICE_TYPE_ID=nan',
 'INTERNET_TYPE_ID=1.0',
 'INTERNET_TYPE_ID=2.0',
 'INTERNET_TYPE_ID=3.0',
 'INTERNET_TYPE_ID=nan']

In [47]:
columns = numeric_cols
columns.extend(categorical_cols)

In [48]:
columns

['COM_CAT#21',
 'COM_CAT#20',
 'COM_CAT#23',
 'COST',
 'COM_CAT#27',
 'COM_CAT#29',
 'COM_CAT#28',
 'RENT_CHANNEL',
 'BASE_TYPE',
 'COM_CAT#22',
 'SNAP_DATE',
 'ROAM',
 'COM_CAT#32',
 'COM_CAT#33',
 'COM_CAT#30',
 'COM_CAT#31',
 'VAS',
 'COM_CAT#18',
 'COM_CAT#19',
 'REVENUE',
 'ITC',
 'COM_CAT#2',
 'COM_CAT#17',
 'SK_ID',
 'COM_CAT#8',
 'INTERNET_TYPE_ID',
 'COM_CAT#1',
 'DEVICE_TYPE_ID',
 'COM_CAT#7',
 'COM_CAT#34',
 'ARPU_GROUP',
 'COM_CAT#3']

In [57]:
data_subs_f_ar_clean = np.hstack((data_subs_f_num,data_subs_f_cat_binary))

In [58]:
data_subs_f_ar_clean.shape

(40638L, 96L)

In [76]:
data_subs_f_clean= pd.DataFrame(data=data_subs_f_ar_clean, columns = columns2)

In [78]:
data_subs_f_clean.head(15)

,COM_CAT#21,COM_CAT#20,COM_CAT#23,COST,COM_CAT#27,COM_CAT#29,COM_CAT#28,RENT_CHANNEL,BASE_TYPE,COM_CAT#22,...,DEVICE_TYPE_ID=4.0,DEVICE_TYPE_ID=5.0,DEVICE_TYPE_ID=6.0,DEVICE_TYPE_ID=7.0,DEVICE_TYPE_ID=8.0,DEVICE_TYPE_ID=nan,INTERNET_TYPE_ID=1.0,INTERNET_TYPE_ID=2.0,INTERNET_TYPE_ID=3.0,INTERNET_TYPE_ID=nan
0,0.01611,0.701424,0.118129,0.004471,0.001798,3.3e-05,0.002754,0.057511,1,0.701424,...,0,0,0,0,0,0,0,0,1,0
1,0.01611,0.707528,0.134836,0.004396,0.003913,1.8e-05,0.002139,0.057468,1,0.707528,...,0,0,0,0,0,0,0,0,1,0
2,0.01611,0.706893,0.133897,0.004982,0.00207,5e-05,0.009867,0.057482,1,0.706893,...,0,1,0,0,0,0,0,1,0,0
3,0.01611,0.70485,0.126587,0.004436,0.00652,1e-05,0.001894,0.057338,1,0.70485,...,0,1,0,0,0,0,0,1,0,0
4,0.01611,0.705129,0.129093,0.005078,0.001801,8.1e-05,0.011187,0.057411,1,0.705129,...,0,0,0,0,0,0,0,0,1,0
5,0.01611,0.700528,0.115501,0.004249,0,1.9e-05,0.000558,0.05711,1,0.700528,...,0,1,0,0,0,0,0,1,0,0
6,0.024902,0.70456,0.127683,0.004639,0.000625,0.001211,0.005613,0.057213,1,0.700275,...,0,1,0,0,0,0,0,0,1,0
7,0.020543,0.702019,0.121696,0.006419,0.012354,0.001411,0.029096,0.057244,1,0.699858,...,0,1,0,0,0,0,0,1,0,0
8,0.021316,0.702392,0.123837,0.007755,0.020497,0.000861,0.046781,0.057203,1,0.699855,...,0,0,0,0,0,0,0,0,1,0
9,0.020506,0.703033,0.122636,0.004463,0.002012,0.000636,0.00133,0.057162,1,0.700891,...,0,1,0,0,0,0,0,1,0,0
10,0.018197,0.700085,0.115193,0.004824,0.001383,0.000969,0.008069,0.057196,1,0.699068,...,0,1,0,0,0,0,0,1,0,0
11,0.02553,0.719496,0.190338,0.013978,0.001214,0.001501,0.008199,0.057227,2,0.714906,...,0,1,0,0,0,0,0,1,0,0
12,0.021875,0.709467,0.150274,0.010709,0.018385,0.00204,0.037212,0.057283,2,0.706658,...,0,0,0,0,0,0,0,0,1,0
13,0.021818,0.703849,0.128884,0.008802,0.022981,0.000104,0.054331,0.057176,2,0.701068,...,0,1,0,0,0,0,1,0,0,0
14,0.01611,0.700696,0.117744,0.005407,0.003437,0,0.014412,0.057189,2,0.700696,...,0,1,0,0,0,0,0,1,0,0

In [154]:
#Сортировка
data_subs_f_clean = data_subs_f_clean.sort_values(['SK_ID','SNAP_DATE'])
data_subs_f_clean.head(10)

,COM_CAT#21,COM_CAT#20,COM_CAT#23,COST,COM_CAT#27,COM_CAT#29,COM_CAT#28,RENT_CHANNEL,BASE_TYPE,COM_CAT#22,...,DEVICE_TYPE_ID=4.0,DEVICE_TYPE_ID=5.0,DEVICE_TYPE_ID=6.0,DEVICE_TYPE_ID=7.0,DEVICE_TYPE_ID=8.0,DEVICE_TYPE_ID=nan,INTERNET_TYPE_ID=1.0,INTERNET_TYPE_ID=2.0,INTERNET_TYPE_ID=3.0,INTERNET_TYPE_ID=nan
0,0.01611,0.701424,0.118129,0.004471,0.001798,3.3e-05,0.002754,0.057511,1,0.701424,...,0,0,0,0,0,0,0,0,1,0
1,0.01611,0.707528,0.134836,0.004396,0.003913,1.8e-05,0.002139,0.057468,1,0.707528,...,0,0,0,0,0,0,0,0,1,0
2,0.01611,0.706893,0.133897,0.004982,0.00207,5e-05,0.009867,0.057482,1,0.706893,...,0,1,0,0,0,0,0,1,0,0
3,0.01611,0.70485,0.126587,0.004436,0.00652,1e-05,0.001894,0.057338,1,0.70485,...,0,1,0,0,0,0,0,1,0,0
4,0.01611,0.705129,0.129093,0.005078,0.001801,8.1e-05,0.011187,0.057411,1,0.705129,...,0,0,0,0,0,0,0,0,1,0
5,0.01611,0.700528,0.115501,0.004249,0,1.9e-05,0.000558,0.05711,1,0.700528,...,0,1,0,0,0,0,0,1,0,0
6,0.024902,0.70456,0.127683,0.004639,0.000625,0.001211,0.005613,0.057213,1,0.700275,...,0,1,0,0,0,0,0,0,1,0
7,0.020543,0.702019,0.121696,0.006419,0.012354,0.001411,0.029096,0.057244,1,0.699858,...,0,1,0,0,0,0,0,1,0,0
8,0.021316,0.702392,0.123837,0.007755,0.020497,0.000861,0.046781,0.057203,1,0.699855,...,0,0,0,0,0,0,0,0,1,0
9,0.020506,0.703033,0.122636,0.004463,0.002012,0.000636,0.00133,0.057162,1,0.700891,...,0,1,0,0,0,0,0,1,0,0

### Подбор параметров

In [80]:
from sklearn.model_selection import train_test_split

In [87]:
# Считаем значения целевой функции
#Считывание
data_csi = pd.read_csv('subs_csi_train.csv',';',decimal=',')
#Сортировка parse_dates=
#data_subs_f = data_subs_f.sort_values(['SK_ID','SNAP_DATE'])

In [91]:
# Удалим ненужное
data_csi = data_csi.drop('CONTACT_DATE', 1)

In [95]:
# Черт нужно выровнять
data_csi = data_csi.sort_values(['SK_ID'])
print data_csi.nunique()
print data_subs_f_clean['SK_ID'].nunique()

SK_ID    3754
CSI         2
dtype: int64
3622

In [141]:
# Выравниваем 
nums = list(set(data_csi['SK_ID']) - set(data_subs_f_clean['SK_ID']))
nums

[3077,
 3093,
 1047,
 540,
 4128,
 2086,
 3505,
 2602,
 2092,
 4654,
 3637,
 3130,
 4155,
 2117,
 613,
 617,
 3690,
 108,
 2671,
 3190,
 634,
 2173,
 3198,
 1663,
 4227,
 2182,
 1163,
 2701,
 2703,
 1690,
 4254,
 2207,
 2209,
 164,
 2725,
 4262,
 1703,
 2734,
 689,
 1714,
 3253,
 1211,
 3260,
 714,
 3709,
 4293,
 710,
 2762,
 2764,
 2259,
 1237,
 3286,
 4324,
 741,
 3302,
 3820,
 1661,
 1267,
 4222,
 1276,
 2818,
 774,
 2828,
 3867,
 3359,
 1312,
 3362,
 2339,
 1320,
 1834,
 4397,
 3374,
 4407,
 3902,
 3981,
 2897,
 3557,
 3425,
 3428,
 1895,
 361,
 1387,
 1389,
 2416,
 884,
 888,
 891,
 2946,
 389,
 3975,
 2957,
 3481,
 2457,
 3482,
 3738,
 926,
 1093,
 4080,
 4004,
 935,
 936,
 430,
 432,
 1457,
 2996,
 3001,
 1466,
 3006,
 2500,
 967,
 3017,
 458,
 972,
 4558,
 3539,
 2005,
 4566,
 2519,
 1496,
 676,
 4570,
 1506,
 997,
 2534,
 4591,
 3056,
 1526,
 2551,
 3576,
 1020,
 1533,
 2558]

In [147]:
#Выравниваем 
ind_ar = []
for i in range(len(nums)):
    ind = data_csi.index[data_csi['SK_ID'] == nums[i]][0] 
    ind_ar.append(ind)

In [149]:
#ATTENTION Выравняли
data_csi = data_csi.drop(data_csi.index[ind_ar]) 
data_csi.shape

In [163]:
data_csi.head()

      SK_ID  CSI
2492      2    0
3275      3    0
13        4    0
954       5    0
1610      6    1

In [ ]:
# Т.к данные по клиенту представлены во временном разрезе попробуем 2 способа
# 1 - дополним метку класса для всех записей клиента
# 2 - возьмем только последний период

In [ ]:
#X['clust'] = preds

In [161]:
y = pd.DataFrame(data = data_subs_f_clean[['SK_ID','SNAP_DATE']], columns = ['SK_ID','SNAP_DATE'] )

In [194]:
y['SK_ID'][0]

2L

In [243]:
a = data_csi['CSI'].loc[data_csi['SK_ID'] == 6].values[0]

In [244]:
#a.values[0]
a

1

In [232]:
mas_ar = []
for j in range(len(y['SK_ID'])):
    mas = data_csi['CSI'].loc[data_csi['SK_ID'] == y['SK_ID'][j]].values[0] 
    mas_ar.append(mas)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
y['label'] = data_csi['CSI']

In [ ]:
(X_train_real_zeros, 
 X_test_real_zeros, 
 y_train, y_test) = train_test_split(X_real_zeros, y, 
                                     test_size=0.3, 
                                     random_state=0)